# Logs
logs
*.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Vite cache
.vite

# TypeScript build output
*.tsbuildinfo

# Environment variables
.env
.env.*.local

